body{
    background-color: black;
}
.suggestion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.suggestionHeading {
    text-align: center;
    font-family: "Roboto";
    font-size: 1.8vmax;
    border-bottom: 1px solid white;
    width: 30%;
    margin: 0.8vmax auto;
    color: white;
    padding: 15px;
}
.container {
    display: flex;
    margin: 1vmax auto;
    width: 88vw;
    flex-wrap: wrap;
    flex-direction: column;
}

.suggestCard {
    width: 70vmax;
    background-color: rgba(115, 115, 115, 0.26);
    height: 16vmax;
    display: flex;
    text-decoration: none;
    color: white;
    margin: 2vmax;
    transition: all 0.5s;
}
.suggestCard>img {
    height: 16vmax;
    width: 27vmax;
}
.suggestCard>.details {
    margin-left: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.details>p {
    font-family: "Roboto";
    font-size: 1.8vmax;

}
.details>p:first-child{
    margin-top: 0.25vmax;
}
.details > div{
    margin-top: -1.5vmax;
}
.details>p:last-child{
    font-size: 1.5vmax;
    font-family: "Roboto";
}

.suggestCard>.details>span {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3vmax;
    margin-top: 1.3vmax;

}

.suggestCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

    transform: translateY(-1vmax);
}