.orderSummary{
    width:30vmax;
    background-color: blanchedalmond;
    height:20vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:5vmax;
    margin-right:5vmax;
}
.title > h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:2vmax;
    font-size:2vmax;
}
.order{
    display: grid;
    grid-template-columns: 4fr 1fr;
    border-bottom: 1px solid black;
    padding-bottom: 1vmax;
}
.order > p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7vmax;
    margin-right:1vmax;
    margin-top: 1vmax;
}
.total{
    display: grid;
    grid-template-columns: 4fr 1fr;
  
}
.total > p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7vmax;
    margin-right:1vmax;
    margin-top: 1vmax;
}

.orderSummary >button {
    margin-top: 3vmax;
    border: none;
    background-color: black;
    color: white;
    padding: 1vmax;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    /* width: 2vmax; */
}