.shipping{
    display: flex;
}
.address{
    flex-direction: column;
}
.heading > h2{
    margin:1.5vmax;
}
.formHeading{
    margin: 1.5vmax;
    font-size:1.6vmax;
}
.form > input{
  width:18vmax;
  margin-top: 2.5vmax;
  margin-left:2vmax;
  height:2vmax;
  border:none
}