.orderTitle{
    margin:2vmax;
}
.orderBox{
    background-color: antiquewhite;
    margin-left:-77vmax;
    margin-top:5vmax;
    width:30vmax;
}
.orderBox > .orderId{
    display: flex;
    margin: 1vmax;
}
.orderBox > .orderId > p{
    font-size: 1.5vmax;
    font-family: cursive;
}
.orderBox > .orderFrom{
    display: flex;
    margin: 1vmax;
}
.orderBox>.orderFrom>p {
    font-size: 1.5vmax;
    font-family: cursive;
}
.orderBox > .orderCall{
    display: flex;
    margin: 1vmax;
}
.orderBox>.orderCall>p {
    font-size: 1.5vmax;
    font-family: cursive;
}
.orderBox > .cancel{
    margin: 1vmax;
    
}
.orderBox > .cancel>p{
    font-family: cursive;
    font-size: 1.5vmax;
}
.orderBox > .cancel > button{
    margin-top: 3vmax;
    margin-left:3vmax;
    border: none;
    background-color: black;
    color: white;
    padding: 1vmax;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    /* width: 2vmax; */
}