.grossTotal{
    background-color:bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:90%;
    margin-left:2vmax;
    margin-top:1vmax;
}
.grossHeading{
    font-weight: bold;
    font-size:2vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.initialAmount{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.initialAmount>p {
    margin-left: -13vmax;
    font-size: 1.7vmax;
}

.initialAmount>p:last-child {
    text-align: end;
    margin-right: -13vmax;
}
.deliveryCharges{
    margin-top: 1vmax;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.deliveryCharges>p {
    font-size: 1.7vmax;
    margin-left: -13vmax;
}

.deliveryCharges>p:last-child {
    text-align: end;
    margin-right: -13vmax;
}
.grandTotal{
    margin-top: 2vmax;
    border-top: 3px solid black;
    font-size: 1.7vmax;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.grandTotal>p {
    margin-left: -13vmax;
}

.grandTotal>p:last-child {
    text-align: end;
    margin-right: -13vmax;
}
.grossTotal > button{
    margin-top: 3vmax;
    border: none;
    background-color: black;
    color:white;
    padding: 1vmax;
    border-radius:10px;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    /* width: 2vmax; */
}