html{
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}
.bites{
    background-image: url(../../../images/foodSvg.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.bites>h3{
    color:white;
}
.bites>div:first-child{
    color:white;
    margin-left:80%;
}
.status{
    display: flex;
}
.status>p{
    font-size: 1.15rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.video-container{
    /* position:relative; */
    height: 80vh;
    width: 70vw;
    width:270px;
    border-radius: 20px;
    background-color: white;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    margin-top:-1vmax;
}
.video-container::-webkit-scrollbar{
    display: none;
}

@media  screen and (max-width:600px) {
    .bites{
        height: 100vh;
    }
    .video-container{
        width:70vw;
        height: 85vh;
        margin-top: -10vmax;
    }
        .bites>div>.status {
            margin-left: -120%;
            margin-top: -15%;
        }
}