.footer{
    background-color: black;
    margin-top: 50px;
    padding: 25px 24px;
    display: flex;
}
.footer > button{
    background-color: #e0d027;
    color: black;
    font-size: 20px;
    padding: 5px 10px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 15px;
    margin-right: 950px;
}

.footer > button:hover{
    color: #e0d027;
    background-color: #302f2f;
}

.media > a{
    margin-left: 25px;
}

.media > a > img{
    width: 35px;
}