.header{
    height: 5vmax;
    background-color: black;
    color:white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo{
    margin-right: 62vmax;
}

.header> h3{
   margin: 3vmax;
}

.links{
    margin: 1vmax;
    font-weight:bold;
    font-size: 1.2vmax;
    text-decoration: none;
    color:white;
}